@import "tailwindcss";

@layer base {
  body {
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  ::selection {
    background-color: #bfdbfe; /* blue-200 */
    color: #1e3a8a;            /* blue-900 */
  }
}
